{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load boxes_tags %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}
<style>
    .home {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        color: #ffffff;
        display: table;
        background-image: url("/static/img/home.png");
        background-position: 50% calc(50% - 50%);
        background-size: cover;
    }

    .text-center-div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-weight: 400;
        padding: 16px;
        text-shadow: 0 2px 2px #202020;
    }

    .text-center-div>h1 {
        padding-bottom: 32px;
        margin-top: 128px;
        letter-spacing: 2px;
    }

    .text-center-div>h2 {
        padding: 16px;
        font-size: 24px;
        letter-spacing: initial;
        padding-top: 32px;
        opacity: 1;
    }
</style>
<div class="home core-font">
    <div class="text-center-div">
        <h1>{% box 1 %}</h1>
        <h2>{% box 2 %}</h2>
    </div>
</div>
{% endblock %}