{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Announcements' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Announcements" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Title" %}</th>
                            <th scope="col">{% trans "Published on:" %}</th>
                            <th scope="col">
                                {% if perms.announcements.create_announcements %}
                                <a class="btn btn-sm btn-success" href="{% url 'announcements:create' %}?next={{ request.get_full_path }}"
                                    title="Create Announcement"><i class="fas fa-plus fa-fw"></i>
                                </a>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for announcement in announcements %}
                        <tr>
                            <td style="white-space: normal;"><a
                                    href="{% url 'announcements:detail' slug=announcement.slug %}">{{ announcement.title }}</a></td>
                            <td>{{ announcement.date }}</td>
                            <td>
                                {% if perms.announcements.edit_announcements %}
                                <a class="btn btn-sm btn-warning"
                                    href="{% url 'announcements:edit' slug=announcement.slug %}?next={{ request.get_full_path }}"
                                    title="Edit">
                                    <i class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                                {% if perms.announcements.delete_announcements %}
                                <a class="btn btn-sm btn-danger"
                                    href="{% url 'announcements:delete' slug=announcement.slug %}?next={{ request.get_full_path }}"
                                    title="Delete">
                                    <i class="fas fa-trash fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}