{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Delete Announcement' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Delete Announcement" %}</h1>
            </div>
            <div class="card-body">
                <form novalidate method="post">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        {% trans "Are you sure you want to delete this announcement?" %}
                        <br>
                        {% trans "This action is irreversible." %}
                    </div>
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-danger card-btn">{% trans "Delete" %}</button>
                        <a href="{{ view.success_url }}" class="btn btn-secondary card-btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}