{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block extra_head %}
<style>
.news {
    display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row card-row">
        <div class="col-11 mx-auto my-auto">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4 text-center">{{ object.title }}</h1>
                </div>
                <div class="card-body ck-content">
                    <div class="card-text">
                        {{ object.content|safe }}
                        <p class="font-weight-bold">Author: {{ object.author.get_full_name }}<br> Published on: {{ object.date }}</p>
                        <a class="btn btn-sm btn-dark" href="{% url 'announcements:list' %}">
                            <i class="fas fa-arrow-left fa-fw"></i></a>
                        {% if perms.announcements.edit_announcements %}
                        <a class="btn btn-sm btn-warning" href="{% url 'announcements:edit' slug=object.slug %}" title="Edit">
                            <i class="fas fa-pen fa-fw"></i>
                        </a>
                        {% endif %}
                        {% if perms.announcements.delete_announcements %}
                        <a class="btn btn-sm btn-danger" href="{% url 'announcements:delete' slug=object.slug %}" title="Delete">
                            <i class="fas fa-trash fa-fw"></i>
                        </a>
                        {% endif %}           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}