{% load i18n %}

{% if announcements %}
{% for announcement in announcements %}
<div id="announcementAlert" style="display:none;" class="alert fade show news text-center fixed-top" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="fas fa-times fa-fw"></i></span>
    </button>
    {% trans 'Announcements' %} <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <a href="{% url 'announcements:detail' slug=announcement.slug %}"> {{ announcement.title }}</a>
</div>
{% endfor %}
{% endif %}
<script type="text/javascript">
    $(document).ready(function () {
        if (!sessionStorage.getItem("alertDismissed")) {
            $('#announcementAlert').show();
            $('.navbar, .card-row').css('margin-top', $('#announcementAlert').outerHeight(true) + 'px');
        }
    });
    $('#announcementAlert .close').click(function () {
        sessionStorage.setItem("alertDismissed", true);
        $(this).closest('#announcementAlert').hide();
        $('.navbar, .card-row').css('margin-top', '0px');
    });
</script>