{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Newsletter List' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Newsletter List" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Full Name" %}</th>
                            <th scope="col">{% trans "Email" %}</th>
                            <th scope="col">{% trans "Language" %}</th>
                            <th scope="col">{% trans "Entry Time" %}</th>
                            <th scope="col">
                                <a class="btn btn-sm btn-success" href="{% url 'newsletters:create' %}?next={{ request.get_full_path }}"
                                    title="Create Account"><i class="fas fa-plus fa-fw"></i></a>
                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#email"><i
                                        class="fas fa-reply fa-fw"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for signup in object_list %}
                        <tr>
                            <td>{{ signup.id }}</td>
                            <td>{{ signup.full_name }}</td>
                            <td>{{ signup.email }}</td>
                            <td>{{ signup.get_language_display }}</td>
                            <td>{{ signup.timestamp }}</td>
                            <td>
                                {% if perms.newsletter.delete_signups %}
                                <a class="btn btn-sm btn-danger" href="{% url 'newsletters:delete' pk=signup.pk %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-trash fa-fw"></i></a>
                                {% endif %}
                                {% if perms.newsletter.edit_signup %}
                                <a class="btn btn-sm btn-warning" href="{% url 'newsletters:edit' pk=signup.pk %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="email" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="email">Send Email To...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <a class="btn btn-sm btn-dark" href="mailto: {% for email in emails %}{{email}},{% endfor %}">Everyone</a>
                <a class="btn btn-sm btn-dark" href="mailto: {% for email in emailsen %}{{email}},{% endfor %}">English</a>
                <a class="btn btn-sm btn-dark" href="mailto: {% for email in emailses %}{{email}},{% endfor %}">Spanish</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}