{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Archived Events" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Title" %}</th>
                            <th scope="col">{% trans "Date" %}</th>
                            <th scope="col">{% trans "Participants" %}</th>
                            <th scope="col">{% trans "Max Participants" %}</th>
                            <th scope="col">
                                <a class="btn btn-sm btn-dark" href="{% url 'events:list' %}">
                                    <i class="fas fa-arrow-left fa-fw" text-align: right;></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in object_list %}
                        <tr>
                            <td>{{ event.uid }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.start_date }}</td>
                            <td>{{ event.participants.count }}</td>
                            {% if event.max_participants == -1 %}
                            <td>&#8734;</td>
                            {% else %}
                            <td>{{ event.max_participants }}</td>
                            {% endif %}
                            <td>
                                <a class="btn btn-sm btn-info" href="{% url 'events:detail' uid=event.uid %}"><i
                                        class="fas fa-eye fa-fw"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}