{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Events" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Title" %}</th>
                            <th scope="col">{% trans "Date" %}</th>
                            <th scope="col">{% trans "Participants" %}</th>
                            <th scope="col">{% trans "Max Participants" %}</th>
                            <th scope="col">
                                {% if perms.events.create_events %}
                                <a class="btn btn-sm btn-success" href="{% url 'events:create' %}?next={{ request.get_full_path }}">
                                    <i class="fas fa-plus fa-fw"></i>
                                </a>
                                {% endif %}
                                <a class="btn btn-sm btn-info" href="{% url 'events:calendar' %}">
                                    <i class="fas fa-calendar-alt fa-fw"></i>
                                </a>
                                <a class="btn btn-sm btn-secondary" href="{% url 'events:subscribe' %}">
                                    <i class="fas fa-download fa-fw"></i>
                                </a>
                                <a class="btn btn-sm btn-dark" href="{% url 'events:archive' %}">
                                    <i class="fas fa-folder fa-fw"></i>
                                </a>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for event in event_list %}
                        <tr>
                            
                            <td>{{ event.uid }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.start_date }}</td>
                            <td>{{ event.participants.count }}</td>
                            {% if event.max_participants == -1 %}
                            <td>&#8734;</td>
                            {% else %}
                            <td>{{ event.max_participants }}</td>
                            {% endif %}
                            <td>
                                {% if perms.events.view_events %}
                                <a class="btn btn-sm btn-info" href="{% url 'events:detail' uid=event.uid %}"><i class="fas fa-eye fa-fw"></i></a>
                                {% endif %}
                                {% if perms.events.edit_events %}
                                <a class="btn btn-sm btn-warning" href="{% url 'events:edit' uid=event.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                                {% if perms.events.delete_events %}
                                <a class="btn btn-sm btn-danger" href="{% url 'events:delete' uid=event.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-trash fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                
            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}