{% load i18n %}
<div class="modal fade" id="externalRedirect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'External Redirect' %}</h5>
            </div>
            <div class="modal-body">
                <p>{% trans 'You are being redirected to an external website. Are you sure you want to continue?' %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <a id="confirmExternalRedirect" class="btn btn-danger" href="#">{% trans 'Continue' %}</a>
            </div>
        </div>
    </div>
</div>