{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Vote' %}{% endblock %}

{% block content %}
<style>
    /* The container */
    .container {
        position: relative;
        padding-left: 35px;
        margin-bottom: 18px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #dbdbdb;
      border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #848587;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .badge {
        font-size: 14px;
    }
</style>
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{{ poll.topic }}</h1>  
            </div>
            <div class="card-body">
                {% if poll_closed %}
                <span class="badge badge-danger"><i class="fas fa-times"></i> Closed</span>
                {% else %}
                <span class="badge badge-success"><i class="fas fa-check"></i> Open</span>
                {% endif %}
                <hr>
                <h5><strong>Description - </strong>{{ poll.description }}</h5>
                <h5><strong>Expires - </strong>{{ poll.end_date }}</h5>
                <br>
                <form novalidate method="post">
                    {% csrf_token %}
                    {% for choice in poll.pollchoice_set.all %}
                        {% if choice.uid == selected_choice %}
                    <label class="container"><h5>{{ choice.name }}</h5><input type="radio" checked="true" id="{{choice.uid}}" value="{{choice.uid}}" name="choice_uid"><span class="checkmark"></span></label>
                        {% else %}
                    <label class="container"><h5>{{ choice.name }}</h5><input type="radio" id="{{choice.uid}}" value="{{choice.uid}}" name="choice_uid"><span class="checkmark"></span></label>
                        {% endif %}
                    {% endfor %}
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-primary card-btn">{% trans "Submit" %}</button>
                        <a href="{{ view.success_url }}" class="btn btn-secondary card-btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}