{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Polls' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Polls" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Topic" %}</th>
                            <th scope="col">{% trans "Start Date" %}</th>
                            <th scope="col">{% trans "End Date" %}</th>
                            <th scope="col">{% trans "Type" %}</th>
                            <th scope="col">{% trans "Status" %}</th>
                            <th scope="col">
                                {% if perms.polls.create_polls %}
                                <a class="btn btn-sm btn-success" href="{% url 'polls:create' %}?next={{ request.get_full_path }}">
                                    <i class="fas fa-plus fa-fw"></i>
                                </a>
                                <a class="btn btn-sm btn-info" href="{% url 'polls:public_list' %}">
                                    <i class="fas fa-list fa-fw"></i>
                                </a>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for polls in object_list %}
                        <tr>
                            <td>{{ polls.uid }}</td>
                            <td>{{ polls.topic }}</td>
                            <td>{{ polls.start_date }}</td>
                            <td>{{ polls.end_date }}</td>
                            <td>{{ polls.get_poll_type_display }}</td>
                            <td>{{ polls.get_poll_status_display }}</td>
                            <td>
                                {% if perms.polls.list_polls %}
                                <a class="btn btn-sm btn-info" href="{% url 'polls:detail' polls.uid %}"><i class="fas fa-eye fa-fw"></i></a>
                                {% endif %}
                                {% if perms.polls.edit_polls and polls.get_poll_status == "pending" %}
                                <a class="btn btn-sm btn-warning" href="{% url 'polls:edit' polls.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                                {% if perms.polls.delete_polls %}
                                <a class="btn btn-sm btn-danger" href="{% url 'polls:delete' polls.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-trash fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}