{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}

<script>
window.onload = function() {
  toggle()
};
function toggle() {
 if( document.getElementById("hide").style.display=='none' ){
   document.getElementById("hide").style.display = '';
   document.getElementById("hideandshow").innerHTML  ="Hide Permissions";
 }else{
   document.getElementById("hide").style.display = 'none';
   document.getElementById("hideandshow").innerHTML  ="Show Permissions";
 }
}
</script>

<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{{ group.name }}</h1>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 text-center">
                            {% if perms.accounts.edit_accounts %}
                            <a class="btn btn-warning detail-btn"
                                href="{% url 'accounts:groups_edit' uid=group.pk %}?next={{ request.get_full_path }}">{% trans "Edit Group" %}</a>
                            {% endif %}
                            {% if perms.accounts.delete_accounts %}
                            <a class=" btn btn-danger detail-btn"
                                href="{% url 'accounts:groups_delete' uid=group.pk %}?next={{ request.get_full_path }}">{% trans "Delete Group" %}</a>
                            {% endif %}
                            <button class="btn btn-primary detail-btn" id="hideandshow" onclick="toggle()">Hide Permissions</button>
                        </div>
                        <div class="col-lg-8 offset-lg-1">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">UID</th>
                                            <td>{{ group.pk }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Name" %}</th>
                                            <td>{{ group.name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Members" %}</th>
                                            <td>
                                                {% for account in group.user_set.all %}
                                                <a href="{% url 'accounts:detail' uid=account.uid %}">{{ account.get_full_name }}</a> |
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Permissions" %}</th>
                                            <td id="hide"> 
                                                {% for perm in permissions %}
                                                {% if perm.have %}
                                                <p class="m-0"><i class="fas fa-check-circle fa-fw text-success"></i>
                                                    {{ perm.content_type.app_label.upper }}: {{ perm.name }}</p>
                                                {% else %}
                                                <p class="m-0"><i class="fas fa-times-circle fa-fw text-danger"></i>
                                                    {{ perm.content_type.app_label.upper }}: {{ perm.name }}</p>
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}