{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Groups' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Groups" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "Name" %}</th>
                            <th scope="col">{% trans "# Members" %}</th>
                            <th scope="col">
                                <a class="btn btn-sm btn-success" href="{% url 'accounts:groups_create' %}?next={{ request.get_full_path }}"
                                    title="Create Group"><i class="fas fa-plus fa-fw"></i></a>
                                <a class="btn btn-sm btn-secondary" href="{% url 'accounts:list' %}" title="Accounts List"><i
                                        class="fas fa-user fa-fw"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in object_list %}
                        <tr>
                            <td>{{ group.pk }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{ group.user_set.count }}</td>
                            <td>
                                {% if perms.accounts.view_accounts %}
                                <a class="btn btn-sm btn-info" href="{% url 'accounts:groups_detail' uid=group.pk %}"><i
                                        class="fas fa-eye fa-fw"></i></a>
                                {% endif %}
                                {% if perms.accounts.edit_accounts %}
                                <a class="btn btn-sm btn-warning"
                                    href="{% url 'accounts:groups_edit' uid=group.pk %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                                {% if perms.accounts.delete_accounts %}
                                <a class="btn btn-sm btn-danger"
                                    href="{% url 'accounts:groups_delete' uid=group.pk %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-trash fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}