{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ account.get_full_name }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{{ account.get_full_name }}</h1>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 text-center">
                            <img class="img-detail" src="{{ account.avatar_url }}">
                            {% if account.membership %}
                            <a class=" btn btn-info detail-btn"
                                href="{% url 'memberships:detail' uid=account.membership.uid %}">{% trans "View Membership" %}</a>
                            {% endif %}
                            {% if request.user.uid == account.uid or perms.accounts.view_accounts %}
                            <a class=" btn btn-info detail-btn" href="{% url 'accounts:attendance' uid=account.uid %}">{% trans "View Attendance History" %}</a>
                            {% endif %}
                            {% if perms.accounts.delete_accounts %}
                            <a class="btn btn-warning detail-btn"
                                href="{% url 'accounts:permissions_edit' uid=account.uid %}?next={{ request.get_full_path }}">{% trans "Edit Permissions" %}</a>
                            {% endif %}
                            {% if request.user.uid == account.uid or perms.accounts.edit_accounts %}
                            <a class="btn btn-warning detail-btn"
                                href="{% url 'accounts:edit' uid=account.uid %}?next={{ request.get_full_path }}">{% trans "Edit Account" %}</a>
                            {% endif %}
                            {% if request.user.uid == account.uid or perms.accounts.change_passwords %}
                            <a class="btn btn-danger detail-btn" href="{% url 'accounts:password_change' uid=account.uid %}?next={{ request.get_full_path }}">{% trans "Change Password" %}</a>
                            {% endif %}
                            {% if perms.accounts.delete_accounts %}
                            <a class=" btn btn-danger detail-btn" href="{% url 'accounts:delete' uid=account.uid %}?next={{ request.get_full_path }}">{% trans "Delete Account" %}</a>
                            {% endif %}
                            {% if request.user.is_superuser  %}
                            <a class=" btn btn-dark detail-btn" href="{% url 'accounts:groups_add' uid=account.uid %}?next={{ request.get_full_path }}">{% trans "Assign Group" %}</a>
                            {% endif %}
                        </div>
                        <div class="col-lg-8 offset-lg-1">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">UID</th>
                                            <td>{{ account.uid }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Title" %}</th>
                                            <td>{{ account.get_title_display }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "First Name" %}</th>
                                            <td>{{ account.first_name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Last Name" %}</th>
                                            <td>{{ account.last_name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Email" %}</th>
                                            <td>{{ account.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Phone Number" %}</th>
                                            <td>{{ account.phone_number }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Date of Birth" %}</th>
                                            <td>{{ account.date_of_birth|default_if_none:"" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Gender" %}</th>
                                            <td>{{ account.get_gender_display }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Company / School / University" %}</th>
                                            <td>{{ account.company }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Address Line 1" %}</th>
                                            <td>{{ account.address1 }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Address Line 2" %}</th>
                                            <td>{{ account.address2 }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "City" %}</th>
                                            <td>{{ account.city }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "State / Region / Province" %}</th>
                                            <td>{{ account.state }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "ZIP / Postal Code" %}</th>
                                            <td>{{ account.zipcode }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Country" %}</th>
                                            <td>{{ account.country.name }} <img src="{{ account.country.flag }}"></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">{% trans "Event Notification" %}</th>
                                            <td>{{ account.notification|yesno:"Yes, No" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Last Login" %}</th>
                                            <td>{{ account.last_login }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Active" %}</th>
                                            <td>{{ account.is_active|yesno:"Yes,No" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{% trans "Superuser" %}</th>
                                            <td>{{ account.is_superuser|yesno:"Yes,No" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}