{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Accounts" %}</h1>
            </div>
            <div class="card-body">
                <table id="jsTable" class="table table-striped nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">{% trans "First Name" %}</th>
                            <th scope="col">{% trans "Last Name" %}</th>
                            <th scope="col">{% trans "Email" %}</th>
                            <th scope="col">{% trans "Phone Number" %}</th>
                            <th scope="col">{% trans "# Events" %}</th>
                            <th scope="col">
                                <a class="btn btn-sm btn-success" href="{% url 'accounts:create' %}?next={{ request.get_full_path }}"
                                    title="Create Account"><i class="fas fa-plus fa-fw"></i></a>
                                <a class="btn btn-sm btn-secondary" href="{% url 'accounts:groups_list' %}" title="List Groups"><i
                                        class="fas fa-user-friends fa-fw"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in object_list %}
                        <tr>
                            <td>{{ account.uid }}</td>
                            <td>{{ account.first_name }}</td>
                            <td>{{ account.last_name }}</td>
                            <td>{{ account.email }}</td>
                            <td>{{ account.phone_number }}</td>
                            <td>{{ account.event_set.count }}</td>
                            <td>
                                {% if perms.accounts.view_accounts %}
                                <a class="btn btn-sm btn-info" href="{% url 'accounts:detail' uid=account.uid %}"><i
                                        class="fas fa-eye fa-fw"></i></a>
                                {% endif %}
                                {% if perms.accounts.edit_accounts %}
                                <a class="btn btn-sm btn-warning" href="{% url 'accounts:edit' uid=account.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-pen fa-fw"></i></a>
                                {% endif %}
                                {% if perms.accounts.delete_accounts %}
                                <a class="btn btn-sm btn-danger" href="{% url 'accounts:delete' uid=account.uid %}?next={{ request.get_full_path }}"><i
                                        class="fas fa-trash fa-fw"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}