{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Log in" %}</h1>
            </div>
            <div class="card-body">
                <form novalidate method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-primary card-btn">{% trans "Log in" %}</button>
                        <a href="{% url 'accounts:register' %}?next={{ request.get_full_path }}" class="btn btn-secondary card-btn">{% trans "Register" %}</a>
                        
                        {% comment %}
                        <a class="btn btn-info card-btn mx-auto" style="width: 260px; display: block;"
                        href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}">{% trans "Log in with" %}
                        <i class="fab fa-google fa-fw"></i></a>
                        {% endcomment %}
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'accounts:password_reset' %}">{% trans "Forgot your password?" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}